.grid-container {
  margin: 5% auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

.grid-container > div {
  background-color: #82aa88bd;
  padding: 10%;
  margin: 0;
}

.grid-container div:nth-child(2n) {
  background-color: #5492b8bd;
}

.tall {
  grid-row: span 2;
}
.wide {
  grid-column: span 2;
}

.about-who, .about-projects {
  background-color: none;
}

.about-who h3, .about-projects h3 {
  text-align: center;
  letter-spacing: .15em;
  font-size: 150%;
}

.about-who p, .about-projects p {
  text-align: center;
}

.grid-container a {
  color: black;
}

.grid-container a:hover {
  color: white;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 20px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .grid-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 15px;
  }
}
