.grid-container {
  margin: 50px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.grid-container > div {
  background-color: white;
}

.grid-container div:nth-child(2n+1) {
  background-color: pink;
}

.tall {
  grid-row: span 2;
}
.wide {
  grid-column: span 2;
}
.hidden {
  visibility: hidden;
}
.circle {
  border-radius: 100%;
}
