.grid-container {
  margin: 50px auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 30px;
}

.grid-container > div {
  background-color: white;
}

.grid-container div:nth-child(2n+1) {
  background-color: pink;
}

@media (min-width: 600px and max-width: 1024px) {
  .grid-container {
    margin: 50px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
  }
}

@media (min-width: 1025px) {
  .tall {
    grid-row: span 2;
  }
  .wide {
    grid-column: span 2;
  }
  .hidden {
    visibility: hidden;
  }
  .circle {
    border-radius: 100%;
  }
  div:hover {
    transform: perspective(2px)
              translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
}
