.about-component {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-container {
  width: 80%;
  margin: 0 auto 5% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-auto-rows: minmax(75px, auto);
  grid-gap: 15px;
}

.about-container > div {
  background-color: #f7f7f7;
  padding: 4%;
}

.about-container div:nth-child(3) {
  background-color: #DEDEDE;
}

.tall {
  grid-row: span 3;
}
.wide {
  grid-column: span 5;
}

.tall-2 {
  grid-row: span 2;
}
.tall-5 {
  grid-row: span 5;
}

.text-box h3 {
  padding: 0;
  margin: 0;
}

.link-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
