@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.navigation {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding-left: 3%;
}

.menu-container {
  width: 100%;
  display: block;
  height: 100px;
  position: absolute;
  top: -100%;
  transition: all 1s ease;
}

.navigation-menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-nav-1 {
  width: 80%;
  padding: 0;
  padding-top: 1%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hamburger-checkbox:checked ~ .menu-container {
  top: 0;
}

a {
  list-style: none;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #82AA88;
  border-radius: 10px;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-checkbox {
  display: none;
}

.navigation li {
  list-style: none;
  padding: 10px;
  padding-top: 2%;
}
/* Rotate first bar */
.hamburger-checkbox:checked + .hamburger .bar1 {
-webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
transform: rotate(-45deg) translate(-7px, 7px) ;
}

/* Fade out the second bar */
.hamburger-checkbox:checked + .hamburger .bar2 {
opacity: 0;
}

/* Rotate last bar */
.hamburger-checkbox:checked + .hamburger .bar3 {
-webkit-transform: rotate(45deg) translate(-7px, -7px) ;
transform: rotate(45deg) translate(-7px, -7px) ;
}

a:hover {
  color: #82aa88bd;
}

a {
  color: #5492b8bd;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #sub-nav-1 {
    display: block;
    padding-top: 3%;
  }
  #sub-nav-1 h5 {
    padding: 0;
    margin: 0;
  }
  .navigation li {
    padding: 5px;
  }
}
