.navigation {
  width: 80%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  /*border-bottom: 1px solid navy;*/
}

.navigation #sub-nav-1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.navigation li {
  list-style: none;
  float: left;
  font-size: 15px;
  padding: 10px;
  color: #1A2F7A; 
}
