@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.navigation {
  width: 80%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.navigation #sub-nav-1 {
  margin: 0;
  padding-top: 5px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted #82AA88;
  border-bottom: 1px dotted #82AA88;
}

a {
  list-style: none;
}

.navigation li {
  list-style: none;
  float: left;
  padding: 10px;
}

a:hover {
  color: #82aa88bd;
}

a {
  color: #5492b8bd;
}
