@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.home-start {
  /* background-color: #268560; */
  background-color: #82AA88;
}
.top-of-page {
  width: 100%;
  height: 250px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.image-box {
  width: 150px;
  height: 150px;
  background-color: #82AA88;
  border-radius: 100%;
  transform: translateX(1000px);

  animation:
      slide3 3s 1 ease-in-out;
}

@keyframes slide3 {
  0% {
    transform: translateX(0);
    transform: translateY(300px);
  }
  100% {
    transform: translateX(1000px);
  }
}

.triangles {
  display: flex;
  justify-content: center;
}

.triangle-1 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 200px solid #5492B8;
  margin-right: -50px;
  transform: translateX(0px);
  animation: slide 4s 1 ease-in-out;
}

.triangle-2 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #5492B8;
  margin-left: -50px;
  transform: translateX(0px);

  animation: slide2 4s 1 ease-in-out;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@keyframes slide {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideabout {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(100px);
  }
}


.short-information {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.short-about {
  width: 30%;
  color: #fff;
  padding: 16px;
  background-color: #82AA88;
  margin-bottom: 2%;
  transform: translateX(100px);

  animation: slideabout 4s 1 ease-in-out;
}

.short-about-text {
  /*width: 60%;*/
}

.project {
  width: 30%;
  margin-bottom: 2%;
}

.project-1, .project-2 {
  background-color: #fff;
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.personal-highlight {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background-color: #82AA88;
}

.hobbies-text-box {
  width: 30%;
  text-align: left;
}
.hobbies-box {
  width: 30%;
  float: right;
}
