.home-start {
  background-color: #268560;
}
.top-of-page {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.image-box {
  width: 150px;
  height: 150px;
  background-color: #268560;
  border-radius: 100%;
  transform: translateX(1000px);

  animation:
      slide3 3s 1 ease-in-out;
}

@keyframes slide3 {
  0% {
    transform: translateX(0);
    transform: translateY(300px);
  }
  100% {
    transform: translateX(1000px);
  }
}

.triangles {
  display: flex;
  justify-content: center;
}

.triangle-1 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 200px solid #1A2F7A;
  margin-right: -50px;
  transform: translateX(0px);
  animation: slide 4s 1 ease-in-out;
}

.triangle-2 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #1A2F7A;
  margin-left: -50px;
  transform: translateX(0px);

  animation: slide2 4s 1 ease-in-out;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.short-information {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
@keyframes slide {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.short-about {
  width: 30%;
  color: #fff;
  padding: 16px;
  background-color: #1A2F7A;
  margin-bottom: 2%;
  transform: translateX(0px);

  animation: slide 4s 1 ease-in-out;
}

.project {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: #fff;
  margin-bottom: 2%;
}

.personal-highlight {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A2F7A;
}

.hobbies-text-box {
  width: 30%;
  text-align: left;
}
.hobbies-box {
  width: 30%;
  float: right;
}
