div {
  border: 2px solid yellow;
}

.home-start {
  background-color: #268560;
}

.navigation {
  width: 80%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid navy;
}

.navigation #sub-nav-1 {
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.navigation li {
  list-style: none;
  float: left;
  font-size: 15px;
  padding: 10px;
  color: navy;
}
.top-of-page {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.image-box {
  width: 150px;
  height: 150px;
  background-color: #268560;
  border-radius: 100%;

  animation:
      slide 3s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(0);
    transform: translateY(100px);
  }
  100% {
    transform: translateX(1000px);
  }
}

.short-information {
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid navy;
}

.short-about, .project {
  width: 100%;
}

.personal-highlight {
  width: 100%;
  background-color: #268560;
}

.hobbies-text-box {
  width: 30%;
  text-align: left;
}
.hobbies-box {
  width: 30%;
  float: right;
}
