footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #1A2F7A;
}

.email-form {
  width: 60%;
}

.contact-information {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
