footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #5492b8bd;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%  0;
}

.contact-information {
  padding: 2%;
}

.contact-information p {
  margin: 2%;
}

.contact-information a {
  color: black;
}

.contact-information a:hover {
  color: white;
}
