footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #5492B8;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%  0;
}

.contact-information {
  padding: 2%;
}

.contact-me {

}
