@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Syncopate');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  background-color: #FFFAF0;
  /* background-color: #268560;
  background-color: #82AA88; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: #FFFAF0;
}

.navigation {
  /* font-family: 'Special Elite', cursive; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  /* font-family: 'Special Elite', cursive; */
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}
