@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Syncopate');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
html {
  background-color: #FFFAF0;
  /* background-color: #268560;
  background-color: #82AA88; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: #FFFAF0;
}

.navigation {
  font-family: 'Special Elite', cursive;
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}
.navigation li {
  font-size: 80%;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navigation li {
    font-size: 40%;
  }
}
