@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Syncopate');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: #268560;
}

.navigation, h3 {
  font-family: 'Syncopate', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}
