.collection-work {
  width: 80%;
  margin: 0 auto 5% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
}

.container-work {
  padding: 10%;
  background-color: #f7f7f7;
}
.container-work h3 {
  text-align: center;
  margin-top: 0;
}
.container-work a {
  color: black;
}


.project-image-cssgrid {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-position: center;
}

.project-image-habittracker {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
.project-image-santacss {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  object-position: center;
}


.link-box {
  text-align: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .project-container {
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .project-container {

  }
}
